* {
    transition: all 1s ease-in-out;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
    margin: 10px auto 10px auto;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
}

.pointer {
    width: fit-content;
    cursor: pointer;
}

.answer-button {
    display: block;
}

#answer-button-1::before {
    content: "1. ";
}

#answer-button-2::before {
    content: "2. ";
}

#answer-button-3::before {
    content: "3. ";
}

#answer-button-4::before {
    content: "4. ";
}