* {
    transition: all 1s ease-in-out;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 30px;
}

button {
    cursor: pointer;
}

header {
    margin-top: 60px;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 250%;
}

.dark {
    background-color: black;
    color: #ebe7dd;
}

.sml-btn {
    background-color: #f14e4e;
    color: #ebe7dd;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:1em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}

.sml-btn:hover{
    border-color: #ebe7dd;
}

.answer-button {
    background-color: #f14e4e;
    color: #ebe7dd;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:1em 0.1em 0.1em 1em;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:1em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    transition: all 0.2s;
    width: 500px;
    font-size: 20px;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
}

.left {
    text-align: left;
}

.pointer {
    width: fit-content;
    cursor: pointer;
}

#main {
    width: 50%;
}

#start-button {
    margin-top: 20px;
}

#initials {
    margin-left: 10px;
    margin-right: 10px;
}

#back-button {
    margin-right: 10px;
}

#clear-button {
    margin-left: 10px;
}

#answer-button-1::before {
    content: "1. ";
}

#answer-button-2::before {
    content: "2. ";
}

#answer-button-3::before {
    content: "3. ";
}

#answer-button-4::before {
    content: "4. ";
}

#after-main {
    width: 33%;
    margin-top: 10px;
}

#feedback {
    font-style: italic;
}

@media all and (max-width:30em){
    .sml-btn {
        display:block;
        margin:0.2em auto;
    }
}

@media screen and (max-width: 768px) {
    .answer-button {
        width: 300px;
    }
}